/*==================================================
Destination
==================================================*/
$baseUrl: '../';
$imagePath: '../../images/';

$icoPath: '../../ico/';
$fontsPath: '../../fonts/';
$fontLatoRegularPath: 'Lato/Regular/Lato-Regular';

/*==================================================
Class
==================================================*/
$uiClass: ".ui";
$baseClass: ".base";

/*==================================================
Fonts
==================================================*/
$ffIco: 'ico';
$ffIcoPath: '../../ico/fonts/';

$fLatoLight: 300 16px/22px 'Lato', sans-serif;
$fLatoBold: 700 16px/22px 'Lato', sans-serif;

$fLatoLightTitle: 300 50px/56px 'Lato', sans-serif;
$fLatoLightTitleA: 300 36px/56px 'Lato', sans-serif;
$fLatoBoldTitle: 700 50px/56px 'Lato', sans-serif;

$fLatoBoldSmTitle: 700 18px/22px 'Lato', sans-serif;
$fLatoBoldSmall: 700 13px/1.46 'Lato', sans-serif;

/*==================================================
Base height
==================================================*/
$baseMobileHeaderHeight: 70px;
$baseFooterHeight: 120px;

/*==================================================
Colors
==================================================*/
$cWhite: #fefefe;
$cWhiteBlack: #f9f9f9;

$cBlack: #010101;

$cRed: #de2525;

$cGrey: #999999;
$cGreyLightest: #f6f6f6;
$cGreyLight: #b1b1b1;

/*==================================================
Background Colors
==================================================*/
$bcGray: #f6f6f6;
$bGreymiddle: #737373;
